@charset "utf-8";

/* map */
.map-all {
  display: flex;
  justify-content: space-between;
  /* flex-wrap: wrap; */
  gap: 2rem;

  gap: 1.3158%;
}

.iframe-all {
  width: 113rem;
  height: 85.6rem;
  border-radius: 4rem;
  overflow: hidden;
  /* flex: 1 1 max(30%); */

  width: 74.3421%;
}

.map-iframe iframe {
  width: 100%;
  height: 85.6rem;
}

.map-iframe iframe {
  width: 100%;
  height: 85.6rem;
}

.controller {
  display: flex;
  position: relative;
  flex-direction: column;
  gap: 3rem;
  width: 36.5rem;
  height: 85.6rem;
  border-radius: 4rem;
  padding: 8.4rem 2.3rem 0 2.3rem;
  background: var(--Darck-100);

  width: 24.0132%;
  padding: 5.5263% 1.5132% 0 1.5132%;
}

.controller-input {
  position: relative;
  display: flex;
  align-items: center;
}

input {
  position: absolute;
  width: 100%;
  height: 4.8rem;
  border-radius: 10rem;
  border: transparent;
}

input::placeholder {
  color: #999; /* 원하는 색상으로 변경 */
  font-style: italic; /* 이탤릭체로 변경 */
}

#searchInput {
  text-indent: 2rem; /* 입력된 텍스트의 시작 위치를 오른쪽으로 이동 */
}

.controller-button {
  position: absolute;
  display: block;
  z-index: 1;

  width: 4rem;
  height: 4rem;
  background: url(../img/search.svg) no-repeat center / 50%;

  right: 2%;
}

.map-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding-top: 3rem;
  padding-top: 9.4044%;
}

.map-btn a {
  display: flex;
  align-items: center;
  padding: 1rem 2.8rem;
  /* width: 11.4rem; */
  height: 4.3rem;
  border-radius: 10rem;

  font-size: 1.5rem;
  font-weight: 700;
  color: var(--Light-100);

  background: var(--btn);

  /* width: 35.7367%; */
  padding: 3.1348% 8.7774%;
  font-size: clamp(0.9rem, 0.78125vw, 1.5rem);
}

.map-btn a:nth-child(3) {
  display: block;
  width: 4.3rem;
  height: 4.3rem;
  padding: 1.2rem 1.2rem;

  border-radius: 100%;
  background: var(--btn) url(../img/star.svg) no-repeat center/ 50%;
}

.map-btn a.on {
  color: var(--Light-100);
  background: var(--main-color);
}

.map-btn a:nth-child(3).on {
  background: var(--main-color) url(../img/star.svg) no-repeat center/ 50%;
}

.map-con {
  display: flex;
  flex-direction: column;
  padding-top: 3rem;
  gap: 2.2rem;

  padding-top: 9.4044%;
}

.map-con figure {
  width: 100%;
  height: 15rem;
  border-radius: 2rem;
  overflow: hidden;
}

.map-con figure img {
  width: 100%;
}

.map-text {
  color: var(--Light-100);
}

.map-text dt {
  font-size: 2.5rem;
  font-weight: 700;

  font-size: clamp(1.5rem, 1.302vw, 2.5rem);
}

.map-text dd {
  padding: 0.3rem 0 3rem;
  font-size: 2rem;
  font-weight: 300;

  padding: 0.9404% 0 9.4044%;
  font-size: clamp(1.2rem, 1.0416vw, 2rem);
}

.cos-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 10rem;

  padding: 1.5rem 2rem;
  background: var(--btn);

  font-size: 2rem;
  font-weight: 700;
  color: var(--Light-100);

  padding: 4.7022% 6.2696%;
  font-size: clamp(1.2rem, 1.0416vw, 2rem);
}

.cos-btn::after {
  content: "";
  display: block;
  width: 3rem;
  height: 3rem;
  background: url(../img/arrow.svg) no-repeat center / 50%;
  transform: rotate(-90deg);
}

.cos-btn:hover {
  background: var(--main-color);
  color: var(--Light-100);
}

/* map end */

/* 반응형 000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000*/
@media (max-width: 1200px) {
  .controller {
    border-radius: 2.4rem;
  }

  .map-btn a {
    height: 2.6rem;
  }

  .map-btn a:nth-child(3) {
    width: 2.6rem;
    height: 2.6rem;
  }
}

@media (max-width: 940px) {
  section {
    margin-bottom: 0;
  }

  .map > .inner {
    width: 100%;
  }

  .map-all {
    flex-direction: column-reverse;
    padding: 0;
    gap: 0;
  }

  .iframe-all {
    width: 100%;
    height: 49.7rem;
    border-radius: 0;
    z-index: -2;
  }

  .controller {
    width: 100%;
    height: 100%;
    padding: 6rem 3rem 3.5rem;
    border-radius: 0;
  }

  input {
    height: 4.5rem;
  }

  .map-btn {
    justify-content: left;
    gap: 1.5rem;
  }

  .map-btn a {
    font-size: 1.3rem;
    padding: 2rem 2rem;
  }

  .map-btn a:nth-child(3) {
    padding: 2rem 2rem;
  }
}
